@import '/src/scss/variables';

.ticker {
  background-color: #4361EE;
  padding: 8px 20px;
  overflow-x: hidden;
  display: flex;
  align-items: center;


  .list {
    display: flex;
    align-items: center;
    animation: ticker 10s infinite linear;
    li {
      margin-right: 50px;
    }
  }

  .item {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
/* identical to box height, or 120% */
    text-transform: uppercase;

  color: #FFFFFF;
  }

  .icon {
    line-height: 0;
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

